html {
  background: url('/img/texture_back.jpg') repeat scroll 0% 0% #F1EEE5;
}
html, body{
        height: 100%;
      }
#map-canvas{
  height:50%;
  width:50%;
}


.navbar-brand > img{
  max-height:50px!important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand{
  padding: 0px 15px;
}


.getBig{
  z-index: 1000!important;
}
.btn-custom { background-color: hsl(0, 69%, 34%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#da3838", endColorstr="#921a1a"); background-image: -khtml-gradient(linear, left top, left bottom, from(#da3838), to(#921a1a)); background-image: -moz-linear-gradient(top, #da3838, #921a1a); background-image: -ms-linear-gradient(top, #da3838, #921a1a); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #da3838), color-stop(100%, #921a1a)); background-image: -webkit-linear-gradient(top, #da3838, #921a1a); background-image: -o-linear-gradient(top, #da3838, #921a1a); background-image: linear-gradient(#da3838, #921a1a); border-color: #921a1a #921a1a hsl(0, 69%, 29%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }
.nav.navbar-nav{
  float:right;
}

@media screen and (max-width: 400px) {
  .navbar-brand {
  padding: 0px 15px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  z-index:-1!important;
  }
  #map-canvas{
  width:100%;
}
}